body {
    background-color: lightgray;
}

nav {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: gray;
    align-items: stretch;
}

h1, ul, p {
    color: black;
}

div {
    display: flex;
    align-items: center;
}

ul {
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.search-bar {
    padding-left: 20px;
    padding-right: 40px;
}

.searchIcon {
    padding: 5px;
    width: 12px;
}
.cartIcon {
    width: 30px;
}

.login {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.login-txt {
    padding: 0;
    margin: 0;
}

.logo {
    align-items: center;
    background-color: black;
}

.logo-txt {
    color: white;
    font-size: 24px;
    font-weight: 300;
    padding-left: 6px;
    padding-right: 6px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .item {
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
  }